<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ cssPath }}">
  <link rel="feed" type="text/html" href="/">
  <link rel="feed alternate" type="application/rss+xml" href="/rss">
  {%- block head %}
  <title>Barry Frost</title>
  {%- endblock %}
</head>
<body>

{%- block content %}
{%- endblock %}

<footer class="site-footer">
  <div class="wrapper">
  <p>
    <a href="/notes">
      <!--<img src="/_static/twitter-brands.svg" class="svg-icon">-->
      Notes
    </a>
  </p>
  </div>
</footer>

</body>
</html>
