<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ cssUrl }}">
  <link rel="feed" type="text/html" href="/all">
  <link rel="feed alternate" type="application/rss+xml" href="/rss">
  <link rel="icon" href="{{ faviconUrl }}">
  <link rel="apple-touch-icon" href="{{ faviconUrl }}">
  {%- block head %}
  <title>Barry Frost</title>
  {%- endblock %}
</head>
<body>

<main class="page-content">
  <div class="wrapper">
    {%- block content %}{%- endblock %}
  </div>
</main>

<footer class="site-footer">
  <div class="wrapper">
    <p>
      <a href="/all">All</a>
    </p>
  </div>
</footer>

</body>
</html>
