{%- if post.checkin %}
{%- set location = post.checkin %}
<p class="location">
  <span class="p-checkin h-card">
    <a href="https://maps.google.com/maps?q={{ location.properties.latitude[0] }},{{ location.properties.longitude[0] }}">
      <data class="p-latitude" value="{{ location.properties.latitude[0] }}"></data>
      <data class="p-longitude" value="{{ location.properties.longitude[0] }}"></data>
      <span class="p-name">{{ location.properties.name[0] }}</span>{%- if location.properties.locality %},
      <span class="p-locality">{{ location.properties.locality[0] }}</span>{%- endif %}{%- if location.properties.region %},
      <span class="p-region">{{ location.properties.region[0] }}</span>{% endif %}
    </a>
  </span>
</p>
{%- endif %}