<time class="dt-published" datetime="{{ post.properties.published[0] }}" pubdate>
  {{ humanDate(post.properties.published[0]) | upper }}
</time>
{%- if post.properties.updated %}
  <time class="dt-updated" datetime="{{ post.properties.updated[0] }}"></time>
{%- endif %}
