{%- if post.syndication %}
<ul>
  {%- for syndication in post.syndication %}
    {%- set host = urlHost(syndication) %}
    <li>
      <a class="u-syndication" rel="syndication" href="{{ syndication }}">
        {%- if host === 'twitter.com' %}
          <img src="/_static/icons/twitter-brands.svg" height="16" alt="Twitter">
        {%- elif host === 'linkedin.com' or host === 'www.linkedin.com' %}
          <img src="/_static/icons/linkedin-brands.svg" height="16" alt="LinkedIn">
        {%- elif host === 'instagram.com' %}
          <img src="/_static/icons/instagram-brands.svg" height="16" alt="Instagram">
        {%- elif host === 'medium.com' %}
          <img src="/_static/icons/medium-brands.svg" height="16" alt="Medium">
        {%- elif host === 'www.swarmapp.com' %}
          <img src="/_static/icons/foursquare-brands.svg" height="16" alt="Foursquare/Swarm">
        {%- elif host === 'facebook.com' %}
          <img src="/_static/icons/facebook-square-brands.svg" height="16" alt="Facebook">
        {%- else %}
          {{ host }}
        {%- endif %}
      </a>
    </li>
  {%- endfor %}
</ul>
{%- endif %}