{%- import '_elements.njk' as elements %}
{%- extends 'layout.njk' %}

{%- block head %}
<title>
  {{ post.properties.name[0] }}
  &mdash; Barry Frost
</title>
{{ elements.linkWebmention() }}
{%- endblock %}

{%- block content %}
<main class="page-content">
  <div class="wrapper">
    <article class="post h-entry">

      <header class="post-header">
        <h1 class="post-title p-name">{{ post.properties.name[0] | escape }}</h1>
        <p class="post-meta">
          {%- include '_published.njk' %}
        </p>
      </header>

      {%- include '_photos.njk' %}
      {%- include '_content.njk' %}

      <footer class="post-footer">
        <div class="post-meta">
          {%- include '_categories.njk' %}
          {%- include '_location.njk' %}
          {%- include '_syndications.njk' %}
          {%- include '_author.njk' %}
        </div>
      </footer>

    </article>
    {{ elements.details(postJSON) }}
  </div>
</main>
{%- endblock %}
