{%- import '_elements.njk' as elements %}
{%- extends 'layout.njk' %}

{%- block head %}
<title>
  {{ post.name }}
  &middot; Barry Frost
</title>
{{ elements.link_webmention() }}
{%- endblock %}

{%- block content %}
<main class="page-content">
  <div class="wrapper">
    <article class="post h-entry">

      <header class="post-header">
        <h1 class="post-title p-name">{{ post.name | escape }}</h1>
        <p class="post-meta">
          {% include '_published.njk' %}
        </p>
      </header>

      {%- include '_photos.njk' %}
      {%- include '_content.njk' %}
      {%- include '_categories.njk' %}
      {%- include '_syndications.njk' %}

    </article>
    {{ elements.details(postJSON) }}
  </div>
</main>
{%- endblock %}
