{%- extends 'layout.njk' %}

{%- block head %}
<title>
  Bookmark of
  {{ post.properties.name[0] | striptags | truncate(60, false) | escape }}
  &mdash; Barry Frost
</title>
<link rel="webmention" href="{{ webmentionUrl }}">
{%- endblock %}

{%- block content %}
<main class="page-content">
  <div class="wrapper">
    <article class="post h-entry">

      <header class="post-header">
        <h1 class="post-title p-name">
          <a href="{{ post.properties['bookmark-of'][0] }}" external noopener>
            {{ post.properties.name[0] | escape }}
          </a>
        </h1>
        <p class="post-meta">
          {%- include '_published.njk' %}
        </p>
      </header>

      {%- include '_content.njk' %}

      <footer class="post-footer">
        <div class="post-meta">
          {%- include '_categories.njk' %}
          {%- include '_syndications.njk' %}
          {%- include '_author.njk' %}
        </div>
      </footer>

    </article>
    {%- include '_raw.njk' %}
  </div>
</main>
{%- endblock %}
