{%- extends 'layout.njk' %}

{%- block head %}
  <title>Barry Frost</title>
  <link rel="me" href="mailto:auth@barryfrost.com">
  <link rel="micropub" href="{{ micropubUrl }}">
  <link rel="webmention" href="https://webmention.io/barryf/webmention">
  <link rel="microsub" href="https://aperture.p3k.io/microsub/28">
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
{%- endblock %}

{%- block content %}
<main class="page-content">
  <div class="wrapper">
    <div class="index">

      Index

    </div>
  </div>
</main>
{%- endblock %}
