{%- extends '_post.njk' %}
{%- set post_title = '404 Not Found' %}
{%- set post_content = 'The page or post was not found.' %}

{%- block post_header %}
{%- include '_title.njk' %}
{%- endblock %}

{%- block post_content %}
{%- include '_content.njk' %}
{%- endblock %}

{%- block post_footer %}
{%- endblock %}
