{% extends 'layout.njk' %}
{% block content %}

<main class="page-content">
  <div class="wrapper">
    <div class="home">

      <ul class="post-list">
      {%- for post in posts %}
        <li><a href="/{{ post.slug }}">{{ post.published }}</a></li>
      {%- endfor %}
      </ul>

    </div>
  </div>
</main>

{% endblock %}
