{%- extends 'layout.njk' %}

{%- block head %}
<title>
  {{ content(post) | striptags | truncate(60, false) | escape }}
  &mdash; Barry Frost
</title>
<link rel="webmention" href="{{ webmentionUrl }}">
{%- endblock %}

{%- block content %}
<main class="page-content">
  <div class="wrapper">
    <article class="post h-entry">

      <header class="post-header">
        <p class="post-meta">
          {%- include '_published.njk' %}
        </p>
      </header>

      {%- include '_photos.njk' %}
      {%- include '_content.njk' %}

      <footer class="post-footer">
        <div class="post-meta">
          {%- include '_categories.njk' %}
          {%- include '_location.njk' %}
          {%- include '_syndications.njk' %}
          {%- include '_author.njk' %}
        </div>
      </footer>

    </article>
    {%- include '_raw.njk' %}
  </div>
</main>
{%- endblock %}
