{%- extends 'layout.njk' %}
{%- block content %}

<main class="page-content">
  <div class="wrapper">
    <article class="post h-entry">

      <header class="post-header">
        <p class="post-meta">
          <time class="dt-published datetime="{{ post.published }}">
            {{ post.published }}
          </time>
        </p>
      </header>

      <div class="post-content e-content">
        {{ post.content | safe }}

        <ul>
        {%- for cat in post.category %}
          <li>{{ cat }}</li>
        {%- endfor %}
        </ul>

        <br>
        <pre>{{ postJSON }}</pre>
      </div>
      <p>
        <svg class="svg-icon orange">
          <use xlink:href="{{ staticPath }}minima/minima-social-icons.svg#rss"></use>
        </svg>
        <a href="#"><img src="/_static/twitter-brands.svg" class="svg-icon"></a>
        hello
      </p>

    </article>
  </div>
</main>

{%- endblock %}
