{%- extends 'layout.njk' %}
{%- block content %}

<main class="page-content">
  <div class="wrapper">
    <div class="home">

      <ul class="post-list h-feed">
      {%- for post in posts %}
        <li class="post h-entry">
          <header class="post-header">
            <p class="post-meta">
              <a href="/{{ post.slug }}">
                <time class="dt-published datetime="{{ post.published }}">
                  {{ post.published }}
                </time>
              </a>
            </p>
          </header>
          <div class="post-content e-content">
            {% markdown %}{{ post.content }}{% endmarkdown %}
          </div>
        </li>
      {%- endfor %}
      </ul>

    </div>
  </div>
</main>

{%- endblock %}
