{%- extends 'layout.njk' %}
{%- block content %}

<h1>{{ post.name }}</h1>

<p>{{ post.published }}</p>

{% markdown %}
{{ post.content }}
{% endmarkdown %}

<ul>
{%- for cat in post.category %}
  <li>{{ cat }}</li>
{%- endfor %}
</ul>

<pre>{{ postJSON }}</pre>

{%- endblock %}
