<div class="text-gray-400 dark:text-gray-600">
  <h3 class="text-sm md:text-base text-gray-500 uppercase">Alternatives</h3>
  <a href="?mf2json" class="text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">MF2 JSON</a>,
  <a href="#" class="text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">GitHub</a>
</div>
