<div class="h-card u-author flex items-center">
  <img src="{{ urls.favicon }}" alt="Photo of Barry" width="28" height="28" class="u-photo w-6 h6 md:w-7 md:h-7 rounded-full mr-1.5">
  <a href="/" class="p-name u-url uppercase text-lg md:text-xl text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">Barry Frost</a>
</div>
