<span class="h-card p-author flex">
  <img src="{{ urls.favicon }}" class="u-photo w-6 h-6 md:w-7 md:h-7 rounded-full mr-1.5">
  <a href="/" rel="author" class="p-name u-url hover:text-yellow-600 uppercase text-lg md:text-xl leading-6 md:leading-7">Barry Frost</a>
</span>
