<a href="/" class="h-card u-author flex hover:text-yellow-600">
  <img src="{{ urls.favicon }}" class="u-photo w-6 md:w-7 rounded-full mr-1.5">
  <span class="p-name uppercase text-lg md:text-xl leading-6 md:leading-7">Barry Frost</span>
</a>
