{%- if post.properties['bookmark-of'] %}
{%- import '../macros/context.njk' as context %}

<div class="mb-8">
  <ul>
    {%- for bookmarkOf in post.properties['bookmark-of'] %}
      {%- set contextNoun = 'repo' if (bookmarkOf.properties and (helpers.urlHost(bookmarkOf.properties.url[0]) | lower) == 'github.com') else 'page' %}
      <li>
        {{ context.context(bookmarkOf, 'Bookmarked', helpers, contextNoun) }}
      </li>
    {%- endfor %}
  </ul>
</div>

<h1 class="p-name mb-4 text-2xl md:text-3xl font-bold">
  <a href="{{ post.properties['bookmark-of'][0] }}" class="text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">
    {{ post.properties.name[0] | safe }}
  </a>
</h1>

{%- endif %}
