{%- if post.properties['bookmark-of'] %}
{%- import '../macros/context.njk' as context %}

<div class="mb-8">
  <ul>
    {%- for bookmarkOf in post.properties['bookmark-of'] %}
      <li>
        {{ context.context(bookmarkOf, 'Bookmarked', helpers) }}
      </li>
    {%- endfor %}
  </ul>
</div>

<h1 class="p-name mb-4 text-2xl md:text-3xl font-bold text-gray-800 dark:text-gray-200">
  {{ helpers.postTitle(post) | safe }}
</h1>

{%- endif %}
