{%- if post.properties.content %}

<div class="e-content mb-8 prose dark:prose-dark {{ 'md:prose-xl' if post['post-type'][0] == 'article' else 'prose-lg lg:prose-xl' }} text-gray-700 dark:text-gray-300">
{{ helpers.postContent(post) | safe }}
</div>

{%- endif %}
