{%- if post.properties.content %}

<div class="e-content {{ '' if post.properties.name else 'p-name' }} mb-12 prose dark:prose-dark text-gray-700 dark:text-gray-300 {{ 'md:prose-lg' if post['post-type'][0] == 'article' else 'prose-lg md:prose-xl' }}">
{{ helpers.postContent(post) | safe }}
</div>

{%- endif %}
