{%- if post.properties['in-reply-to'] %}
{%- import '../macros/context.njk' as context %}

<div class="mb-4">
  <ul>
    {%- for inReplyTo in post.properties['in-reply-to'] %}
      <li>
        {{ context.context(inReplyTo, 'In Reply To', iconFromUrl) }}
      </li>
    {%- endfor %}
  </ul>
</div>

{%- endif %}
