{%- if post.properties['in-reply-to'] %}
{%- import '../macros/context.njk' as context %}

<div class="mb-8">
  <ul>
    {%- for inReplyTo in post.properties['in-reply-to'] %}
      <li>
        {{ context.context(inReplyTo, 'In reply to', helpers, 'post', loop.first) }}
      </li>
    {%- endfor %}
  </ul>
</div>

{%- endif %}
