{%- if post.properties.like %}

<div class="mb-4">
  <ul>
    {%- for like in post.properties.like %}
      {%- if like.properties.author %}
      <li>
        <a href="{{ like.properties.url[0] }}">
          {%- if like.properties.author[0].properties.photo %}
            <img src="{{ like.properties.author[0].properties.photo[0] }}">
          {%- endif %}
          {{ like.properties.author[0].properties.name[0] }}
        </a>
      </li>
      {%- endif %}
    {%- endfor %}
  </ul>
</div>

{%- endif %}
