{%- if post.properties['listen-of'] %}
{%- import '../macros/context.njk' as context %}

<div class="mb-8">
  <ul>
    {%- for listenOf in post.properties['listen-of'] %}
      <li>
        {{ context.context(listenOf, 'Listened to', helpers, 'podcast', loop.first) }}
      </li>
    {%- endfor %}
  </ul>
</div>

{%- endif %}
