{%- if post.properties.checkin and post['post-type'] != 'checkin' %}

<div class="">
  <h2 class="text-gray-500 uppercase text-sm md:text-base">
    Location
  </h2>
  {%- set location = post.properties.checkin[0] %}
  <div class="md:text-lg text-gray-600 dark:text-gray-400">
    <div class="p-checkin h-card">
      <div>
        <a href="https://maps.google.com/maps?q={{ location.properties.latitude[0] }},{{ location.properties.longitude[0] }}"
          class="text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200" title="View on map">
          <span class="p-name">{{ location.properties.name[0] }}</span>
        </a>
      </div>
      <data class="p-latitude" value="{{ location.properties.latitude[0] }}"></data>
      <data class="p-longitude" value="{{ location.properties.longitude[0] }}"></data>
      {%- if location.properties.locality %}
        <div class="p-locality">{{ location.properties.locality[0] }}</div>
      {%- endif %}
      {%- if location.properties.region %}
        <div class="p-region">{{ location.properties.region[0] }}</div>
      {% endif %}
    </div>
  </div>
</div>

{%- endif %}
