{%- set navLinks = ['about', 'now', 'projects', 'archives'] %}
{%- for link in navLinks %}
  <a href="/{{ link }}" class="text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">
    {{ link }}
  </a>
{%- endfor %}
