{%- if post.properties.photo %}
{%- import '../macros/photo.njk' as photo %}

<div class="mb-4">
  <ul class="grid grid-cols-2 gap-2">
    {%- for p in post.properties.photo %}
      <li>
        {{ photo.photo(p, helpers.imageOptimise) }}
      </li>
    {%- endfor %}
  </ul>
</div>
<div class="clear-left"></div>

{%- endif %}
