<div>
  {%- if format and format == 'full' %}
    <h3 class="text-sm md:text-base text-gray-500 uppercase">Published</h3>
  {%- endif %}
  <time class="dt-published inline" datetime="{{ post.properties.published[0] }}"
    title="{{ post.properties.published[0] | replace('T',' ') | replace('Z', ' UTC') }}">
    <a href="{{ helpers.shortUrl(post) }}" class="u-url text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">
      {%- if format and format == 'full' %}
        {{ helpers.humanDateFull(post.properties.published[0]) }}&nbsp;<small>UTC</small>
      {%- else %}
        {{ helpers.humanDate(post.properties.published[0]) }}
      {%- endif %}
    </a>
  </time>
  {%- if format and format == 'full' %}
    <h3 class="text-sm md:text-base text-gray-500 uppercase mt-1">In</h3>
    <p class="capitalize text-gray-700 dark:text-gray-300">
      {{ helpers.pluralise(post['post-type'][0]) }}
    </p>
  {%- endif %}
</div>

{%- if post.properties.updated %}
  <time class="dt-updated hidden" datetime="{{ post.properties.updated[0] }}"></time>
{%- endif %}
