<time class="dt-published" datetime="{{ post.properties.published[0] }}"
  title="{{ post.properties.published[0] }}">
  <a href="{{ post.url[0] | replace('https://barryf.co.uk', '') }}" class="hover:text-black">
    {{ helpers.humanDate(post.properties.published[0]) | upper }}
  </a>
</time>

{%- if post.properties.updated %}
  <time class="dt-updated" datetime="{{ post.properties.updated[0] }}"></time>
{%- endif %}
