{%- if post.properties['repost-of'] %}
{%- import '../macros/context.njk' as context %}

<div class="mb-4">
  <ul>
    {%- for repostOf in post.properties['repost-of'] %}
      <li>
        {{ context.context(repostOf, 'Repost of', iconFromUrl) }}
      </li>
    {%- endfor %}
  </ul>
</div>

{%- endif %}
