{%- if post.properties.rsvp %}

<data class="p-rsvp" value="{{ post.properties.rsvp[0] }}"></data>

<div class="mb-4 text-xl md:text-2xl text-gray-600 dark:text-gray-400">
  {%- if post.properties.rsvp[0] == 'yes' %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-8 h8 md:w-9 md:h-9 -mt-0.5 inline">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    Yes
  {%- elif post.properties.rsvp[0] == 'no' %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-8 h8 md:w-9 md:h-9 -mt-0.5 inline">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    No
  {%- elif post.properties.rsvp[0] == 'maybe' %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-8 h8 md:w-9 md:h-9 -mt-0.5 inline">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    Maybe
  {%- elif post.properties.rsvp[0] == 'interested' %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-8 h8 md:w-9 md:h-9 -mt-0.5 inline">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    Interested
  {%- endif %}
</div>

{%- endif %}
