<div class="e-content prose prose-base md:prose-lg">
  {%- if post.properties.summary %}
    {{ post.properties.summary[0] | safe }}

  {%- elif post.properties.content %}
    {{ helpers.listContent(post) | safe | truncate(200) }}

  {%- elif post.properties.checkin %}
    {{ post.properties.checkin[0].properties.name[0] | safe }}

  {%- endif %}
</div>