<div class="e-content prose prose-base md:prose-lg text-gray-600 dark:text-gray-400">
  {%- if post.properties.summary %}
    {{ post.properties.summary[0] | safe }}

  {%- elif post.properties.content %}
    {{ helpers.listContent(post) | safe | truncate(150) }}

  {%- elif post.properties.checkin %}
    {{ post.properties.checkin[0].properties.name[0] | safe }}

  {%- elif post.properties['like-of'] %}
    Liked a post on
    {{ helpers.iconFromUrl(post.properties['like-of'][0]) | safe }}

  {%- elif post.properties['repost-of'] %}
    Reposted a post on
    {{ helpers.iconFromUrl(post.properties['repost-of'][0]) | safe }}

  {%- endif %}
</div>