<div class="text-sm md:text-base">
  <h3 class="text-gray-500 uppercase">Also</h3>
  <ul class="space-x-2">
    <li class="inline">
      <a href="?mf2json" title="Microformats 2 JSON" class="text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h4 md:w-5 md:h-5 inline" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </a>
    </li>
    {%- for syndication in post.properties.syndication %}
      <li class="inline">
        <a rel="syndication" href="{{ syndication }}" class="u-syndication flex-none text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">
          {{ helpers.iconFromUrl(syndication) | safe }}
        </a>
      </li>
    {%- endfor %}
  </ul>
</div>
