{%- if post.properties.syndication %}
<div class="text-sm md:text-base">
  <h3 class="text-gray-500 uppercase">Also</h3>
  <ul class="space-x-2">
    {%- for syndication in post.properties.syndication %}
      <li class="inline">
        <a rel="syndication" href="{{ syndication }}" class="u-syndication flex-none text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">
          {{ helpers.iconFromUrl(syndication) | safe }}
        </a>
      </li>
    {%- endfor %}
  </ul>
</div>
{%- endif %}
