{%- import '../macros/photo.njk' as photo %}
{%- macro context(context, contextLabel, helpers) %}
{%- set contextVerb = helpers.contextVerb(contextLabel) %}

{%- if context.properties %}
  <div class="h-cite">
    {%- set author = context.properties.author %}
    <div class="text-base md:text-lg text-gray-600 dark:text-gray-400">
      <span class="uppercase text-sm md:text-base">
        {{ contextLabel }}
      </span>
      {%- if author and author[0].properties and author[0].properties.name %}
        <span class="h-card p-author">
          <a href="{{ author[0].properties.url[0] }}" class="u-url font-bold hover:text-yellow-600" rel="noopener">
            {%- if author[0].properties.photo %}
              <img src="{{ author[0].properties.photo[0].value if author[0].properties.photo[0].value else author[0].properties.photo[0] }}"
                alt="{{ author[0].properties.name[0] }}"
                class="u-photo w-6 h-6 inline-block mx-1 rounded-full">
            {%- endif %}
            <span class="p-name">{{ author[0].properties.name[0] }}</span></a>&rsquo;s
        </span>
      {%- else %}
        a
      {%- endif %}
      post on
      <a href="{{ context.properties.url[0] }}" class="{{ contextVerb }} font-bold hover:text-yellow-600" rel="noopener">
        <span class="inline-block">
          {{ helpers.iconFromUrl(context.properties.url[0], true) | safe }}
        </span>
      </a>
    </div>
    {%- if context.properties.content or context.properties.name %}
      {%- set contextContent = helpers.contextContent(context) | safe %}
      <div class="mb-4 mt-2 ml-4 prose md:prose-lg">
        <blockquote>
          {%- if context.properties.name and (context.properties.name[0] | safe ) !== contextContent %}
            <a href="{{ context.properties.url[0] }}" class="p-name text-gray-600 dark:text-gray-400 {{ 'font-bold' if context.properties.content }}">{{ context.properties.name[0] | safe }}</a>
          {%- endif %}
          {%- if context.properties.content %}
            &ldquo;<span class="e-content text-gray-600 dark:text-gray-400">{{ contextContent }}</span>&rdquo;
          {%- endif %}
        </blockquote>
      </div>
    {%- endif %}
    {%- if context.properties.photo %}
      <div class="mb-4">
        <ul>
          {%- for p in context.properties.photo %}
            {#- don't show photo if it's the author photo #}
            {%- if author and author[0].photo and ((author[0].photo[0].value and author[0].photo[0].value != p) or (author[0].photo[0] != p)) %}
              <li class="max-h-40">
                {{ photo.photo(p) | safe }}
              </li>
            {%- endif %}
          {%- endfor %}
        </ul>
      </div>
    </div>
  {%- endif %}
{%- else %}
  <h2 class="text-gray-600 dark:text-gray-400 text-base md:text-lg uppercase">
    {{ contextLabel }}
  </h2>
  <a href={{ context }} class="{{ contextVerb }} text-lg md:text-xl font-bold text-gray-800 dark:text-gray-200 hover:text-yellow-600" rel="noopener">
    {{ context }}
  </a>
{%- endif %}

{%- endmacro %}
