{%- import '../macros/photo.njk' as context %}
{%- macro context(context, contextLabel, helpers) %}

<div class="mb-4">
  {%- if context.properties %}
    <h2>
      {{ name }}
      <a href="{{ context.properties.author[0].properties.url[0] }}">
        {%- if context.properties.author[0].properties.photo %}
          <img src="{{ context.properties.author[0].properties.photo[0] }}" class="w-6 h-6 inline-block ml-2 mr-1 rounded-full">
          {{ context.properties.author[0].properties.name[0] }}
        {%- endif %}
      </a>
      's post on
      <a href="{{ context.properties.url[0] }}" class="font-bold text-yellow-600 hover:text-black" rel="noopener">
        <span class="w-3 h-3 inline-block">
          {{ helpers.iconFromUrl(context.properties.url[0]) }}
        </span>
      </a>
    </h2>
    <div class="mb-4">{{ helpers.content(context) }}</div>
      {%- if context.properties.photo %}
        <div class="mb-4">
          <ul>
            {%- for p in context.properties.photo %}
              <li>
                {{ photo.photo(p) }}
              </li>
            {%- endfor %}
          </ul>
        </div>
      {%- endif %}
    </div>
  {%- else %}
    <h2>{{ contextLabel }}</h2>
    <a href={{ context }} class="font-bold text-yellow-600 hover:text-black" rel="noopener">
        {{ context }}
    </a>
  {%- endif %}
</div>

{%- endmacro %}
