{%- macro photo(photo) %}

 <figure>
  {%- if photo.value %}
    <a href="{{ photo.value }}">
      <img class="u-photo" src="{{ photo.value }}" alt="{{ photo.alt }}">
    </a>
  {%- else %}
    <a href="{{ photo }}">
      <img class="u-photo" src="{{ photo }}">
    </a>
  {%- endif %}
</figure>

{%- endmacro %}
