{%- macro photo(photo, imageOptimise = null) %}
{%- set photoUrl = photo.value if photo.value else photo %}
{%- set optimisedPhotoUrl = imageOptimise(photoUrl) if imageOptimise else photoUrl %}

<figure>
  <a href="{{ photoUrl }}">
    <img class="u-photo rounded max-h-96" src="{{ optimisedPhotoUrl }}" height="768"
      alt="{%- if photo.alt %}{{ photo.alt }}{%- else %}Photo{%- endif %}">
  </a>
</figure>

{%- endmacro %}
