{%- if post.properties.comment %}

<div class="mb-4">
  <h2 class="mb-1 text-gray-600 text-sm md:text-base">COMMENTS</h2>
  <ul class="">
    {%- for comment in post.properties.comment %}
      <li class="mb-4">
        {%- if comment.properties.author %}
          <div class="flex">
            {%- if comment.properties.author[0].properties.photo %}
              <div class="bg-gray-300 w-10 h-10 md:w-11 md:h-11 mr-1.5 overflow-hidden rounded-full">
                <a href="{{ comment.properties.url[0] }}">
                  <img src="{{ comment.properties.author[0].properties.photo[0] }}"
                    alt="{{ comment.properties.author[0].properties.name[0] }}"
                    title="{{ comment.properties.author[0].properties.name[0] }}">
                </a>
              </div>
            {%- endif %}
            <div class="">
              <div class="text-gray-600 text-sm md:text-base mb-1">
                <a href="{{ comment.properties.author[0].properties.url[0] }}" class="hover:text-black">
                  {{ comment.properties.author[0].properties.name[0] }}
                </a>
              </div>
              <div class="text-xs md:text-sm text-gray-500">
                <a href="{{ comment.properties.url[0] }}" class="hover:text-black">
                  {{ helpers.humanDate(comment.properties.published[0]) | upper }}
                </a>
              </div>
            </div>
          </div>
        {%- else %}
          <div class="text-xs md:text-sm text-gray-500">
            <a href="{{ comment.properties.url[0] }}">
              {{ helpers.humanDate(comment.properties.published[0]) | upper }}
            </a>
          </div>
        {%- endif %}
        <div class="mt-1 text-sm md:text-base text-gray-600">
          {{ comment.properties.content[0] }}
        </div>
      </li>
    {%- endfor %}
  </ul>
</div>

{%- endif %}
