{%- if post.properties.like %}

<div class="mb-8">
  <h2 class="mb-1 text-gray-600 text-sm md:text-base">LIKES</h2>
  <ul class="flex">
    {%- for like in post.properties.like %}
      {%- if like.properties.author %}
      <li class="bg-gray-300 w-10 h-10 overflow-hidden rounded-full mr-1">
        <a href="{{ like.properties.url[0] }}">
          {%- if like.properties.author[0].properties.photo %}
            <img src="{{ like.properties.author[0].properties.photo[0] }}"
              alt="{{ like.properties.author[0].properties.name[0] }}"
              title="{{ like.properties.author[0].properties.name[0] }}"
              class="w-10 h-10 mr-1 rounded-full">
          {%- else %}
            {{ like.properties.author[0].properties.name[0] }}
          {%- endif %}
        </a>
      </li>
      {%- endif %}
    {%- endfor %}
  </ul>
</div>

{%- endif %}
