<p class="author u-author h-card">
  <img class="u-photo" src="{{ faviconUrl }}" width="23" style="float: left; margin-right: 5px; border-radius: 25px;">
  <a href="/" class="u-url p-name">Barry Frost</a>
</p>