<ul class="mb-4 text-sm">
  {%- for cat in post.properties.category %}
    <li class="inline-block mr-2">
      <a href="/categories/{{ cat }}" rel="nofollow tag" class="p-category">{{ cat }}</a>
    </li>
  {%- endfor %}
</ul>