<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="{{ cssUrl }}">
  <link rel="feed" type="text/html" href="/all">
  <link rel="feed alternate" type="application/rss+xml" href="/rss">
  <link rel="icon" href="{{ faviconUrl }}">
  <link rel="apple-touch-icon" href="{{ faviconUrl }}">
  {%- block head %}
  <title>Barry Frost</title>
  {%- endblock %}
</head>
<body class="flex flex-col min-h-screen bg-gray-800">

<div class="flex-1 border-solid border-t-4 sm:border-t-8 border-orange-600 bg-gray-100">
  <main class="max-w-screen-md mx-auto p-4 sm:p-8">
  {%- block content %}{%- endblock %}
  </main>
</div>

<div class="flex-none bg-gray-800">
  <footer class="max-w-screen-md mx-auto p-4 sm:px-8 md:py-8">
    <div class="h-card">
      <img src="{{ faviconUrl }}" class="inline-block u-photo rounded-full w-6 md:w-10 h-6 md:h-10 mr-1">
      <a href="/" class="u-url u-author p-name inline-block text-base md:text-xl leading-none text-gray-600 hover:text-gray-100">
        Barry Frost
      </a>
    </div>
  </footer>
</div>

</body>
</html>
