{%- if post.properties.syndication %}
<ul class="mb-4">
  {%- for syndication in post.properties.syndication %}
    {%- set host = urlHost(syndication) %}
    <li class="inline-block mr-2">
      <a rel="syndication" href="{{ syndication }}" class="u-syndication inline-block w-4 h-4">
        {%- if host === 'twitter.com' %}
          <img src="{{ static('icons/twitter-brands.svg') }}" alt="Twitter">
        {%- elif host === 'linkedin.com' or host === 'www.linkedin.com' %}
          <img src="{{ static('icons/linkedin-brands.svg') }}" alt="LinkedIn">
        {%- elif host === 'instagram.com' %}
          <img src="{{ static('icons/instagram-brands.svg') }}" alt="Instagram">
        {%- elif host === 'medium.com' %}
          <img src="{{ static('icons/medium-brands.svg') }}" alt="Medium">
        {%- elif host === 'www.swarmapp.com' %}
          <img src="{{ static('icons/foursquare-brands.svg') }}" alt="Foursquare/Swarm">
        {%- elif host === 'facebook.com' %}
          <img src="{{ static('icons/facebook-square-brands.svg') }}" alt="Facebook">
        {%- else %}
          {{ host }}
        {%- endif %}
      </a>
    </li>
  {%- endfor %}
</ul>
{%- endif %}