{%- extends 'layout.njk' %}
{%- import 'macros/icon.njk' as icon %}

{%- block content %}
<header class="mb-12 max-w-screen-md mx-auto">
  <div class="flex items-center mb-8 md:mb-12 text-lg md:text-xl text-gray-400 dark:text-gray-600">
    <div class="flex-none mx-auto md:flex-auto md:mx-0 text-gray-600 dark:text-gray-400">
      {%- include 'includes/author.njk' %}
    </div>
    <nav class="space-x-1 text-xs md:text-sm uppercase hidden md:block">
      {%- include 'includes/nav.njk' %}
    </nav>
  </div>
  <h1 class="text-center text-4xl md:text-5xl tracking-tight font-bold text-gray-800 dark:text-gray-200">
    Archives
  </h1>
</header>

<div class="mb-12 max-w-screen-md mx-auto">

  <h2 class="mb-4 uppercase text-gray-800 dark:text-gray-200 text-sm md:text-base">
    Post Types
  </h2>
  <ul class="mb-12 gap-2 grid grid-cols-3 md:grid-cols-5 md:text-lg text-gray-600 dark:text-gray-400">
    <li>{{ icon.icon('all') }}<a href="/all" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">All</a></li>
    <li>{{ icon.icon('article') }}<a href="/articles" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">Articles</a></li>
    <li>{{ icon.icon('note') }}<a href="/notes" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">Notes</a></li>
    <li>{{ icon.icon('photo') }}<a href="/photos" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">Photos</a></li>
    <li>{{ icon.icon('bookmark') }}<a href="/bookmarks" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">Bookmarks</a></li>
    <li>{{ icon.icon('checkin') }}<a href="/checkins" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">Checkins</a></li>
    <li>{{ icon.icon('like') }}<a href="/likes" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">Likes</a></li>
    <li>{{ icon.icon('reply') }}<a href="/replies" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">Replies</a></li>
    <li>{{ icon.icon('repost') }}<a href="/reposts" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">Reposts</a></li>
    <li>{{ icon.icon('rsvp') }}<a href="/rsvps" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">RSVPs</a></li>
    <li>{{ icon.icon('listen') }}<a href="/listens" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">Listens</a></li>
    <li>{{ icon.icon('review') }}<a href="/reviews" class="ml-1 hover:text-gray-800 dark:hover:text-gray-200">Reviews</a></li>
  </ul>

  <h2 id="c" class="mb-4 uppercase text-gray-800 dark:text-gray-200 text-sm md:text-base">
    Categories
  </h2>
  {%- set letters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','0','1','2','3','4','5','6','7','8','9'] %}
  <ul class="mb-4 tracking-widest text-gray-600 dark:text-gray-400 text-xl md:text-2xl">
    {%- for letter in letters %}
      <li class="inline">
        <a href="?c={{ letter | lower }}#c" id="c-{{ letter | lower }}"
          class="letter font-mono outline-none focus:text-black dark:focus:text-white hover:text-gray-800 dark:hover:text-gray-200">
          {{ letter }}
        </a>
      </li>
    {%- endfor %}
  </ul>
  <div id="categories" class="mb-12 text-gray-400 dark:text-gray-600 md:text-lg">
  {%- if filteredCategories %}
    {%- for cat in filteredCategories %}
      <a href="/categories/{{ cat }}" class="mb-1 text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200">
        {{ cat }}
      </a>
      {{ '/' if not loop.last }}
    {%- endfor %}
    {%- else %}
      <p class="text-sm md:text-base">
        Select an initial character to filter categories
      </p>
  {%- endif %}
  </div>

  <h2 class="mb-4 uppercase text-gray-800 dark:text-gray-200 text-sm md:text-base">
    Months
  </h2>
  <ul class="mb-12">
    {%- for year, months in yearMonths %}
      <li class="mb-1 text-base md:text-xl">
        <a href="/{{ year }}" class="text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200">
          {{ year }}
        </a>
        <span class="text-gray-400 dark:text-gray-600 mx-1">/</span>
        <ul class="inline">
          {%- for month in months %}
            <li class="inline mr-1 md:mr-3 text-gray-400 dark:text-gray-600">
              <a href="/{{year}}/{{ month }}" class="text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200">
                {{ month }}
              </a>
            </li>
          {%- endfor %}
        </ul>
      </li>
    {%- endfor %}
  </ul>

</div>
{%- endblock %}

{%- block scripts %}
<script src="/categories.js"></script>
<script src="{{ urls.scripts.archives }}"></script>
{%- endblock %}
