{%- extends '_post.njk' %}
{%- set post_title = title(post) %}
{%- set post_content = content(post) %}

{%- block post_header %}
{%- include '_title.njk' %}
{%- include '_published.njk' %}
{%- endblock %}
