{%- extends '_post.njk' %}
{%- set post_title = post.properties.name[0] | striptags | truncate(60, false) | escape %}
{%- set page_title = 'Bookmark: ' + post_title %}
{%- set post_content = content(post) %}

{%- block post_header %}
{%- include '_title.njk' %}
{%- include '_published.njk' %}
<div class="mb-4">
  <a href="{{ post.properties['bookmark-of'][0] }}" class="font-bold text-yellow-600 hover:text-black" external noopener>
    {{ post.properties['bookmark-of'][0] | escape }}
  </a>
</div>
{%- endblock %}

{%- block post_footer %}
{%- include '_categories.njk' %}
{%- include '_syndications.njk' %}
{%- include '_author.njk' %}
{%- endblock %}
