{%- extends 'layout.njk' %}
{%- import 'macros/icon.njk' as icon %}

{%- block head %}
<link rel="me" href="mailto:auth@barryfrost.com">
<link rel="micropub" href="{{ process.env.MICROPUB_URL }}">
<link rel="webmention" href="{{ urls.webmention }}">
<link rel="microsub" href="https://aperture.p3k.io/microsub/28">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<title>Barry Frost</title>
{%- endblock %}

{%- block content %}
<h1 class="h-card float-left text-gray-800 dark:text-gray-200">
  <img src="{{ urls.favicon }}" class="u-photo mb-4 mr-4 h20 w-20 md:w-24 md:h-24 rounded-full">
  <span class="p-name hidden uppercase text-2xl md:text-3xl text-center">Barry Frost</span>
</h1>

<div class="mb-8 prose md:prose-lg">
  <p><span class="uppercase font-bold">Hello, I’m Barry Frost.</span> I’m a product engineer and leader with experience building teams, websites and apps. I live in a village in Hertfordshire, UK, with my wife and two sons.</p>
  <p>I’m CTO of <a href="https://www.theroom.io">The Room</a>, a space for brands to exchange products and experiences with true brand advocates in return for authentic engagement.</p>
  <p>Previously, I was CTO of <a href="https://www.gumtree.com/">Gumtree</a>, Director at <a href="https://www.ebayinc.com/">eBay</a>, CTO of <a href="https://www.venntro.com/">Venntro Media Group</a> and a software engineer in startups and SMEs.</p>
  <!--
  <p>I hack on side projects in Ruby and Node.js as part of the <a href="https://indieweb.org">IndieWeb</a> community, including <a href="https://github.com/barryf/micropublish">Micropublish</a>, one of the most feature-complete Micropub clients used to publish and update content on your own website. I maintain my own <a href="https://github.com/barryf/promulgate">WebSub hub</a>, an <a href="https://github.com/barryf/acquiescence">IndieAuth server</a> and contribute to the <a href="https://github.com/indieweb/mention-client-ruby">Webmention gem</a>.</p>
  -->
  <p>I post all my <a href="/articles" class="whitespace-nowrap">{{ icon.icon('article') }}Articles</a>, <a href="/notes" class="whitespace-nowrap">{{ icon.icon('note') }}Notes</a>, <a href="/photos" class="whitespace-nowrap">{{ icon.icon('photo') }}Photos</a>, <a href="/bookmarks" class="whitespace-nowrap">{{ icon.icon('bookmark') }}Bookmarks</a> and <a href="/checkins" class="whitespace-nowrap">{{ icon.icon('checkin') }}Check-ins</a> on this website using <a href="https://github.com/barryf/transformative">my own software</a>, but also syndicate to <a href="https://twitter.com/barryf">Twitter</a>, <a href="https://pinboard.in/barryf">Pinboard</a> and <a href="https://instagram.com/barryf">Instagram</a>. All my code is on <a href="https://github.com/barryf">GitHub</a>.</p>
  <p>Email me at <a href="mailto:barry@barryfrost.com">barry@barryfrost.com</a> or send me a <a href="https://twitter.com/messages/compose?recipient_id=4677">DM on Twitter</a>.</p>
</div>

{%- set postTypes = ['Article', 'Note', 'Photo', 'Bookmark', 'Checkin', 'Reply', 'Like', 'Repost', 'RSVP'] %}
{%- set klass = 'hover:text-yellow-600 inline-block border-gray-300 dark:border-gray-700 hover:border-yellow-600 dark:hover:border-yellow-600 border-solid border-2 rounded-lg px-2 md:px-3 py-2 leading-none mb-2 md:mb-2.5 mr-1 shadow-sm' %}
<div class="mb-8 text-lg md:text-xl text-gray-600 dark:text-gray-400">
  <a href="/all" class="{{ klass }}">
    <span class="whitespace-nowrap">
      {{ icon.icon('all') }}
      All
    </span>
  </a>
  {%- for type in postTypes %}
    {%- set plural = type + 's' if type != 'Reply' else 'Replies' %}
    <a href="/{{ plural | lower }}" class="{{ klass }}">
      <span class="whitespace-nowrap">
        {{ icon.icon(type | lower) }}
        {{ plural }}
      </span>
    </a>
  {%- endfor %}
</div>
{%- endblock %}
