{%- extends 'layout.njk' %}
{%- import 'macros/icon.njk' as icon %}

{%- block head %}
<link rel="micropub" href="{{ urls.micropub }}">
<link rel="webmention" href="{{ urls.webmention }}">
<link rel="microsub" href="https://aperture.p3k.io/microsub/28">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="canonical" href="{{ urls.root }}">
<meta name="title" content="Barry Frost">
<meta name="description" content="Barry Frost's personal website.">
<title>Barry Frost</title>
{%- endblock %}

{%- block content %}
<header class="mb-12 max-w-screen-md mx-auto">
  <div class="flex items-center mb-8 md:mb-12 text-lg md:text-xl text-gray-400 dark:text-gray-600">
    <div class="flex-none mx-auto md:flex-auto md:mx-0">
      <div class="h-card flex items-center">
        <img src="/barryfrost.jpg" alt="Photo of Barry" width="28" height="28" class="u-photo w-6 h6 md:w-7 md:h-7 rounded-full mr-1.5">
        <h1 class="p-name uppercase text-lg md:text-xl text-gray-800 dark:text-gray-200">Barry Frost</h1>
        <a rel="me" href="/" class="u-url hidden"></a>
        <a class="u-url" href="acct:barry@barryfrost.com"></a>
      </div>
    </div>
    <nav class="space-x-1 text-xs md:text-sm uppercase hidden md:block">
      {%- include 'includes/nav.njk' %}
    </nav>
  </div>
</header>

<div class="mb-12 max-w-prose mx-auto">
  <div class="prose dark:prose-dark md:prose-lg lg:prose-xl text-gray-700 dark:text-gray-300">
    {{ content | safe }}
    {#
    <p><span class="uppercase font-bold">Hello, I’m Barry</span> (he/him), a software engineer and technology leader with experience building teams, websites and apps. I live in a village in Hertfordshire, UK, with my wife and two sons.</p>
    <p>This is my personal website where I post all my <a href="/articles">articles</a>, <a href="/notes">notes</a>,  <a href="/photos">photos</a>, <a href="/bookmarks">bookmarks</a> and <a href="/checkins">check-ins</a> using my own <a href="https://github.com/barryf">software</a>. View the full <a href="/archives">archives</a>.</p>
    <p>Read more <a href="/about">about me</a>, how to <a href="/contact">contact me</a> and how to <a href="/follow">follow</a> my content.</p>
    #}
  </div>
</div>

<div class="mb-8 max-w-screen-md mx-auto border-t-4 border-solid border-gray-400 dark:border-gray-600">
</div>

<div class="mb-12 max-w-prose mx-auto">
  <h2 class="mb-4 uppercase text-gray-800 dark:text-gray-200 text-sm md:text-base">
    Weeknotes
  </h2>
  <ul class="md:text-lg text-gray-400 dark:text-gray-600">
    {%- for post in weeknotes.posts %}
      <li class="inline-block">
        <a href="{{ post.url[0] }}" title="{{ post.properties.name[0] }}" class="text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">
          {{ helpers.getWeeknoteTitle(post) }}
        </a>
      </li>
      <li class="inline-block">/</li>
    {%- endfor %}
    <li class="inline-block text-sm md:text-base uppercase">
      <a href="/categories/weeknotes?before={{ weeknotes.nextInt + 1 }}" class="text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">
        More &rarr;
      </a>
    </li>
  </ul>
</div>

<div class="mb-12 max-w-prose mx-auto">
  <div class="flex w-full items-center mb-12 text-base md:text-lg">
    <h2 class="flex-auto text-lg md:text-xl text-gray-800 dark:text-gray-200">
      Recently
    </h2>
    <div class="flex-auto text-right text-sm md:text-base uppercase">
      <a href="/all" class="text-yellow-600 hover:text-gray-800 dark:hover:text-gray-200">
        All posts &rarr;
      </a>
    </div>
  </div>
  <div class="h-feed">
    {% include 'includes/list-posts.njk' %}
  </div>
</div>
{%- endblock %}
