<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" media="screen" href="{{ urls.css }}">
<link rel="feed" type="text/html" href="/all">
<link rel="feed alternate" type="application/rss+xml" href="/rss">
<link rel="icon" type="image/png" href="{{ urls.favicon }}">
<style>
@font-face { font-family: 'plex-sans'; src: url("{{ helpers.static('fonts/IBMPlexSans-Text.woff') }}") format("woff"); }
@font-face { font-family: 'plex-sans'; font-weight: 800; src: url("{{ helpers.static('fonts/IBMPlexSans-Bold.woff') }}") format("woff"); }
</style>
{%- block head %}
<title>Barry Frost</title>
{%- endblock %}
</head>
<body class="bg-gray-100 dark:bg-gray-900">
<div class="max-w-screen-md mx-auto p-4 sm:p-8">
{%- block content %}
{%- endblock %}
<footer class="mt-8">
<a href='/'>Home</a>
</footer>
</div>
</body>
</html>
