<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preload" href="{{ helpers.static('fonts/IBMPlexSans-Text.woff') }}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ helpers.static('fonts/IBMPlexSans-Bold.woff') }}" as="font" type="font/woff" crossorigin>
<style>
@font-face { font-family: 'plex-sans'; src: url('{{ helpers.static('fonts/IBMPlexSans-Text.woff') }}') format('woff'); font-display: swap; }
@font-face { font-family: 'plex-sans'; font-weight: 700; src: url('{{ helpers.static('fonts/IBMPlexSans-Bold.woff') }}') format('woff'); font-display: swap; }
</style>
<link rel="stylesheet" media="screen" href="{{ urls.css }}" as="style">
<link rel="feed" type="text/html" href="/all">
<link rel="feed alternate" type="application/rss+xml" href="/rss">
<link rel="icon" type="image/png" href="{{ urls.favicon }}">
{%- block head %}
<title>{{ (title | safe) + ' — Barry Frost' if title else 'Barry Frost' }}</title>
{%- endblock %}
</head>
<body class="bg-gray-100 dark:bg-gray-900">
<main class="max-w-prose mx-auto px-4 pb-8 pt-4 md:pt-8">
{%- block content %}
{%- endblock %}
</main>
</body>
</html>
