{%- extends '_post.njk' %}
{%- set post_title = 'Like' %}

{%- block post_content %}
  <div class="post-content">
    Liked
    <a class="u-like-of" href="{{ post.properties['like-of'] }}">
      {{ post.properties['like-of'] }}
    </a>
  </div>
{%- endblock %}
