{%- extends 'layout.njk' %}

{%- block content %}

  <ul class="h-feed">
  {%- for post in posts %}
    <li class="h-entry">
      <a href="{{ post.url[0] | replace('https://barryf.co.uk/', '/') }}">
        {{ post.properties.published[0] }} - {{ post['post-type'] }}
      </a>
    </li>
  {%- endfor %}
  </ul>

  {%- if (lastPublishedInt) %}
    <p><a href="?before={{ lastPublishedInt }}" rel="nofollow prev">Previous</a></p>
  {%- endif %}

{%- endblock %}
