{%- extends '_layout.njk' %}

{%- block content %}
<div class="home">

  <ul class="post-list h-feed">
  {%- for post in posts %}
    <li class="post h-entry">
      <header class="post-header">
        <p class="post-meta">
          <a href="{{ post.url }}">
            {% include '_published.njk' %}
          </a>
        </p>
      </header>
      {%- include '_content.njk' %}
    </li>
  {%- endfor %}
  </ul>

  {%- if (lastPublishedInt) %}
    <p><a href="?before={{ lastPublishedInt }}" rel="nofollow prev">Previous</a></p>
  {%- endif %}

</div>
{%- endblock %}
