{%- extends 'layout.njk' %}

{%- block content %}

<ul class="h-feed">
  {%- for post in posts %}
    <li class="h-entry mb-8">

      <div class="mb-0.5 text-sm md:text-base">
        {%- include 'includes/post-type-icon.njk' %}
        {%- include 'includes/published.njk' %}
      </div>

      {%- if post.properties.name %}
        <h2 class="p-name text-lg md:text-xl tracking-tight text-gray-800 dark:text-gray-200 {{ 'font-bold' if post['post-type'] == 'article' }}">
          {{ post.properties.name[0] }}
        </h2>
      {%- endif %}

      {%- include 'includes/summary.njk' %}

    </li>
  {%- endfor %}
</ul>

{%- if lastPublishedInt %}
  <div>
    <a href="?before={{ lastPublishedInt }}" rel="nofollow prev" class="text-gray-600 dark:text-gray-400 hover:text-yellow-600">
      <span class="uppercase text-sm md:text-base">
        &larr; Previous
      </span>
    </a>
  </div>
{%- endif %}

{%- endblock %}
