{%- extends 'layout.njk' %}

{%- block content %}
<article class="h-entry">

  {%- include 'includes/title.njk' %}

  {%- include 'includes/content.njk' %}

  {%- include 'includes/footer.njk' %}

</article>
{%- endblock %}
