{%- extends 'layout.njk' %}

{%- block content %}
<article class="h-entry">

  <header>
    {%- include 'includes/title.njk' %}
  </header>

  {%- include 'includes/content.njk' %}

  {%- include 'includes/author.njk' %}
  {%- include 'includes/raw.njk' %}

</article>
{%- endblock %}
