{%- extends 'layout.njk' %}

{%- block head %}
<link rel="webmention" href="{{ urls.webmention }}">
<meta name="title" content="{{ metadata.title | escape }}">
<meta name="description" content="{{ metadata.description | escape }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ post.url }}">
<meta property="og:title" content="{{ metadata.title | escape }}">
<meta property="og:description" content="{{ metadata.description | escape }}">
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@barryf">
<meta property="twitter:url" content="{{ post.url }}">
<meta property="twitter:title" content="{{ metadata.title | escape }}">
<meta property="twitter:description" content="{{ metadata.description | escape }}">
<title>{{ metadata.title }}</title>
{%- endblock %}
{%- block content %}
<article class="h-entry">
  <header class="mb-8">
    {%- include 'includes/title.njk' %}
    <div class="text-sm md:text-base text-gray-600 dark:text-gray-400">
      {%- include 'includes/post-type-icon.njk' %}
      {%- include 'includes/published.njk' %}
      {%- include 'includes/author.njk' %}
    </div>
  </header>
  {%- include 'includes/in-reply-to.njk' %}
  {%- include 'includes/repost-of.njk' %}
  {%- include 'includes/bookmark-of.njk' %}
  {%- include 'includes/like-of.njk' %}
  {%- include 'includes/photos.njk' %}
  {%- include 'includes/content.njk' %}
  {%- include 'includes/categories.njk' %}
  {%- include 'includes/location.njk' %}
  {%- include 'includes/syndications.njk' %}
  {%- include 'includes/like.njk' %}
  {%- include 'includes/raw.njk' %}
</article>
{%- endblock %}
