{%- extends 'layout.njk' %}

{%- block head %}
<link rel="webmention" href="{{ urls.webmention }}">
{% include 'includes/metadata.njk' %}
{%- endblock %}

{%- block content %}
<article class="h-entry">
  <header class="mb-12 max-w-screen-md mx-auto">
    <div class="flex items-center mb-8 md:mb-12 text-lg md:text-xl text-gray-400 dark:text-gray-600">
      <div class="flex-none mx-auto md:flex-auto md:mx-0 text-gray-600 dark:text-gray-400">
        {%- include 'includes/author.njk' %}
      </div>
      <nav class="space-x-1 text-xs md:text-sm uppercase hidden md:block">
        {%- include 'includes/nav.njk' %}
      </nav>
    </div>
    {%- if post['post-type'] == 'article' %}
      {%- include 'includes/title.njk' %}
    {%- endif %}
  </header>

  <div class="mb-12 max-w-prose mx-auto">
    {%- include 'includes/in-reply-to.njk' %}
    {%- include 'includes/repost-of.njk' %}
    {%- include 'includes/bookmark-of.njk' %}
    {%- include 'includes/listen-of.njk' %}
    {%- include 'includes/like-of.njk' %}
    {%- include 'includes/photos.njk' %}
    {%- include 'includes/rsvp.njk' %}
    {%- include 'includes/checkin.njk' %}
    {%- include 'includes/content.njk' %}
    <div class="{{ 'grid grid-cols-2' if post.properties.like and post.properties.repost }}">
      {%- include 'includes/webmentions/likes.njk' %}
      {%- include 'includes/webmentions/reposts.njk' %}
    </div>
    {%- include 'includes/webmentions/comments.njk' %}
    {%- include 'includes/webmentions/mentions.njk' %}
  </div>

  <div class="mb-12 max-w-screen-md mx-auto pt-8 border-t-4 border-solid border-gray-400 dark:border-gray-600">
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-8 text-center">
      {%- set format = 'full' %}{%- include 'includes/published.njk' %}
      {%- include 'includes/syndications.njk' %}
      {%- include 'includes/categories.njk' %}
      {%- include 'includes/location.njk' %}
    </div>
  </div>
</article>
{%- endblock %}

{%- block scripts %}
{%- if helpers.containsTweet(post) %}
<script src="https://platform.twitter.com/widgets.js"></script>
{%- endif %}
{%- endblock %}
